name: Build Terraform Images

on:
  schedule:
    - cron: "0 5 * * 5"
  push:
    branches: ["main"]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      terraform: ${{ steps.dataStep.outputs.terraform }}
    steps:
      - id: dataStep
        run: |
          export VERSIONS=[$(curl -sS -L -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/repos/hashicorp/terraform/releases?per_page=100 | jq -r '.[] | select(.prerelease == false) | "\"" + .name + "\""' | sort -uV | tr -d "^v" | tr '\n' ',' | sed 's#,$##')]
          echo "terraform=$(jq -cn --argjson terraform "$VERSIONS" '{version: $terraform}')" >> $GITHUB_OUTPUT

  build-base:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:base

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@14487ce63c7a62a4a324b0bfb37086795e31c6c1 # v6.16.0
        with:
          file: Dockerfile.base
          push: true
          platforms: linux/amd64,linux/arm64
          cache-from: |
            type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:base
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:base
          labels: ${{ steps.meta.outputs.labels }}

  build-terraform:
    runs-on: ubuntu-latest
    needs: ["setup", "build-base"]
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      matrix: ${{ fromJson(needs.setup.outputs.terraform) }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ matrix.version }}

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@14487ce63c7a62a4a324b0bfb37086795e31c6c1 # v6.16.0
        with:
          file: Dockerfile.terraform
          push: true
          platforms: linux/amd64,linux/arm64
          cache-from: |
            type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ matrix.version }}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ matrix.version }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            TF=${{ matrix.version }}
            CODE_BASE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:base
